:root {
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --fs-900: clamp(5rem, 7vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  --ff-serif: 'Bellefair', serif;
  --ff-sans-cond: 'Barlow Condensed', sans-serif;
  --ff-sans-normal: 'Barlow', sans-serif;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p {
  font-weight: 400;
  color: #d2d8f9;
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: white;
  background-color: #0c0e18;
  line-height: 1.5;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

img,
picutre {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}

.grid-container > * {
  max-width: 50ch;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.box {
  background: lightblue;
  padding: 3rem;
}

.call-to-action {
  --gap: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.bg-dark {
  background: #0c0e18;
}

.bg-accent {
  background: #d2d8f9;
}

.bg-white {
  background: white;
}

.text-dark {
  color: #0c0e18;
}

.text-accent {
  color: #d2d8f9;
}

.text-white {
  color: white;
}

.example-component {
  background: rgba(210, 216, 249, 0.2);
  color: white;
}

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.25);
}

.large-button {
  font-size: 2rem;
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.large-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(210, 216, 249, 0.15);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-navigation {
  --gap: clamp(1.5rem, 5.5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  margin: 0;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(1.2rem);
          backdrop-filter: blur(1.2rem);
}

@supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
  .primary-navigation {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(1.2rem);
            backdrop-filter: blur(1.2rem);
  }
}

.primary-navigation a {
  text-decoration: none;
  color: white;
}

.primary-navigation a span {
  font-weight: bold;
  margin-right: 0.5em;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35rem) {
  .primary-navigation {
    --underline-gap: 0.5rem;
    list-style: none;
    padding: MIN(20rem, 15vh) 2rem;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    inset: 0 0 0 25%;
    z-index: 100;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  }
  .primary-navigation[data-visible='true'] {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .primary-navigation.underline-indicators > .active {
    border: 0;
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url(./assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }
  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url(./assets/shared/icon-close.svg);
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(3rem, 9vw, 7rem);
  }
}

@media (min-width: 35em) and (max-width: 44.9em) {
  .primary-navigation a > span {
    display: none;
  }
}

@media (min-width: 45em) {
  .primary-header::after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    margin-right: -2.7rem;
    background: rgba(255, 255, 255, 0.25);
    z-index: 999;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    opacity: 0.9;
  }
  nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .primary-navigation {
    margin-block: 2rem;
  }
}

.underline-indicators > * {
  padding: var(--underline-gap, 0.55rem) 0;
  border: 0;
  cursor: pointer;
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0);
  background-color: transparent;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: rgba(255, 255, 255, 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected='true'] {
  color: white;
  border-color: white;
}

.tab-list {
  --gap: 2rem;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.dot-indicators > [aria-selected='true'] {
  background-color: white;
}

.numbers-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 1em;
  color: white;
  background-color: transparent;
  border: 0.01px rgba(255, 255, 255, 0.6) solid;
}

.numbers-indicators > *:hover,
.numbers-indicators > *:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.numbers-indicators > [aria-selected='true'] {
  background-color: white;
  color: #0c0e18;
}

body {
  background-size: cover;
  background-position: bottom center;
}

.home {
  background-image: url(/assets/home/background-home-mobile.jpg);
}

@media (min-width: 35rem) {
  .home {
    background-position: center center;
    background-image: url(./assets/home/background-home-tablet.jpg);
  }
}

@media (min-width: 45rem) {
  .home {
    background-image: url(./assets/home/background-home-desktop.jpg);
  }
}

.destination {
  background-image: url(./assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 35rem) {
  .destination {
    background-position: center center;
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }
}

@media (min-width: 45rem) {
  .destination {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
  }
}

/* crew */
.crew {
  background-image: url(./assets/home/background-crew-mobile.jpg);
}

@media (min-width: 35rem) {
  .crew {
    background-position: center center;
    background-image: url(./assets/crew/background-crew-tablet.jpg);
  }
}

@media (min-width: 45rem) {
  .crew {
    background-image: url(./assets/crew/background-crew-desktop.jpg);
  }
}

.grid-container--destination {
  --flow-space: 2rem;
      grid-template-areas: 'title' 'image' 'tabs' 'content';
}

.numbered-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.grid-container--destination > img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image;
  max-width: 60%;
}

.grid-container--destination > .tab-list {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tabs;
}

.grid-container--destination > .destination-info {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: content;
}

.dest-meta {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

.dest-meta p {
  font-size: 1.75rem;
}

.grid-container--crew {
  --flow-space: 2rem;
      grid-template-areas: 'title' 'image' 'tabs' 'content';
}

.grid-container--crew > img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image;
  max-width: 60%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.grid-container--crew > .dot-indicators {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tabs;
}

.grid-container--crew > .crew-details {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: content;
}

.crew-details h2 {
  opacity: .5;
}

@media (min-width: 35em) {
  .numbered-title {
    -ms-grid-column-align: start;
        justify-self: start;
    margin-top: 2rem;
  }
  .dest-meta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .grid-container--crew {
    padding-bottom: 0;
        grid-template-areas: 'title' 'content' 'tabs' 'image';
  }
}

@media (min-width: 45em) {
  .grid-container {
    text-align: left;
    -ms-grid-columns: minmax(2rem, 1fr) (minmax(0, 40rem))[2] minmax(2rem, 1fr);
        grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(2rem, 1fr);
    -webkit-column-gap: var(--container-gap, 2rem);
            column-gap: var(--container-gap, 2rem);
  }
  .grid-container--home {
    padding-bottom: msc(6rem, 20vh);
  }
  .grid-container--home > *:first-child {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .grid-container--home > *:last-child {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .grid-container--destination {
    justify-items: start;
    -ms-flex-line-pack: start;
        align-content: start;
        grid-template-areas: '. title title .' '. image tabs .' '. image content .';
  }
  .grid-container--destination > img,
  .grid-container--crew > img {
    max-width: 85%;
  }
  .dest-meta {
    --gap: MIN(7vw, 6rem);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .grid-container--crew {
        grid-template-areas: '. title title .' '. content image .' '. tabs image .';
  }
  .grid-container--crew > .dot-indicators {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .grid-container--crew > img {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

/* Layout                        */
/* ----------------------------- */
/* Technology layout */
@media (max-width: 45em) {
  .tech {
    background-image: url(./assets/technology/background-technology-mobile.jpg);
  }
  .grid-container--tech {
        grid-template-areas: 'title' 'image' 'tabs' 'content';
  }
  .grid-container--tech {
    padding-left: 0;
    padding-right: 0;
  }
  .tech-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
  }
  .grid-container--tech > .tech-img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: image;
    min-width: 100%;
  }
  .numbers-indicators {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: tabs;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    padding: auto;
    margin: auto;
  }
  .numbers-indicators button {
    margin-left: 25px;
    width: 60px;
    height: 60px;
    position: relative;
  }
}

.tech-desc {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: content;
}

@media (min-width: 35em) {
  .tech {
    background-image: url(./assets/technology/background-technology-tablet.jpg);
  }
  .grid-container--tech {
        grid-template-areas: 'title' 'image' 'tabs' 'content';
  }
  .grid-container--tech {
    padding-left: 0;
    padding-right: 0;
  }
  .tech-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
  }
  .grid-container--tech > .tech-img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: image;
    min-width: 100%;
  }
  .numbers-indicators {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: tabs;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    padding: auto;
    margin: auto;
  }
  .numbers-indicators button {
    margin-left: 25px;
    width: 60px;
    height: 60px;
    position: relative;
  }
}

@media (min-width: 45rem) {
  .tech {
    background-image: url(./assets/technology/background-technology-desktop.jpg);
  }
  .grid-container--tech {
        grid-template-areas: 'tabs title image' 'tabs content image';
  }
  .tech-title {
    position: absolute;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    top: 150px;
    left: 100px;
  }
  .numbers-indicators {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: tabs;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .numbers-indicators button {
    margin-top: 15px;
  }
  .numbers-indicators {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: tabs;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 25px;
    padding-left: 130px;
  }
  .numbers-indicators button {
    width: 80px;
    height: 80px;
    position: relative;
    padding-top: 21px;
  }
  .tech-details {
    padding-left: 200px;
    padding-top: 120px;
  }
  .tech-details .tech-headings {
    width: 560px;
  }
  .tech-details .tech-headings h2 {
    padding-bottom: 20px;
    font-size: 16px;
    color: #d2d8f9;
    letter-spacing: 2.7px;
  }
  .tech-details .tech-headings .main-tech-title {
    color: white;
    padding-bottom: 30px;
  }
  .tech-details .tech-desc {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
  }
  .tech-details .tech-desc p {
    width: 445px;
  }
  .tech-img > img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: image;
    position: absolute;
    right: 0;
    bottom: 100px;
  }
}
/*# sourceMappingURL=index.css.map */