.crew-body {
    background: url(/starter-code/assets/crew/background-crew-desktop.jpg)
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .crew-image {
    display: flex;
    position: absolute;
    right: 150px;
    bottom: 0;
  }
  

  

  
  .headline-crew {
    position: fixed;
    z-index: 2;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: $tertiary;
    width: 450px;
    letter-spacing: 4.75px;
    text-transform: uppercase;
    margin-left: 165px;
    margin-top: 220px;
    b {
      color: hsl(228, 6, 33);
      font-weight: 900;
    }
  }

  .title {
    // margin-top: 175px;
    color: rgba(206, 198, 198, 0.473);
    text-transform: uppercase;
    margin-top: 230px;
  }
  .crew-name{
    margin-top: -35px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }

  .crew-text {
    width: 390px;
    margin-top: -60px;
    p {
      color: $secondary;
    }
  }