
h1 {
    font-family: 'Bellefair', serif;
    color: $tertiary;
    font-size: 150px;
    font-weight: 400;
    background: transparent
}
h2 {
    font-family: 'Bellefair', serif;
    color: $tertiary;
    font-size: 100px;
    font-weight: 400;
    background: transparent
}
h3 {
    font-family: 'Bellefair', serif;
    color: $tertiary;
    font-size: 56px;
    font-weight: 400;
    background: transparent
}
h4 {
    font-family: 'Bellefair', serif;
    color: $tertiary;
    font-size: 32px;
    font-weight: 400;
    background: transparent
}
h5 {
    font-family: 'Bellefair', serif;
    color: $tertiary;
    font-size: 28px;
    letter-spacing: 4.75px;
    font-weight: 400;
    background: transparent
}

.btn-h4 {
    font-family: 'Bellefair', serif;
    color: $primary;
    font-size: 32px;
    font-weight: 400;
    background: transparent
}

