.tech-body {
    background: url(/starter-code/assets/technology/background-technology-desktop.jpg)
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .tech-btn {
    display: flex;
    left: 55px;
    bottom: 32px;
    position: absolute;
    flex-direction: column;
    // justify-content: center;
    float: left;
    a {
        color: white;
        font-size: 32px;
        text-align: center;
        padding-top: 22px;
        font-family: 'Bellefair', serif;

    }
    .dot {
      height: 80px;
      width: 80px;
      background-color: transparent;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.404);
      border-width: 1px;
      border-radius: 50%;
      display: inline-block;
      text-decoration: none !important;
      margin-top: 19px;
    }
    .set{
      background: $tertiary;
      color: black;
    }
    .set:hover{
        pointer-events:none;
    }
    .dot:hover {
    //   background: $tertiary;
    //   color: black;
      border-width: 1.5px;
      border-color:white;
  
      // transition: letter-spacing 33s ease-out, opacity 33s ease-out;
    }
  }

  .tech-image {

    display: flex;
    position: absolute;
    right: -5px;
    bottom: 150px;
    // height: 527px;

  }

.tech-main{
    // display: flex;
    left: 123px;
    bottom: 260px;
    position: absolute;
    padding-left: 210px;
    .tech-text {
        width: 368px;
        margin-top: -60px;
        p {
        color: $secondary;
        }
    }
}

.pretitle{
    font-size: 16px;
    color: $secondary;
    letter-spacing: 2.7px;
    margin-bottom: 50px;
    text-transform: uppercase;
}