//Colors
$primary: hsl(230, 35%, 7%);
$secondary: hsl(231, 77%, 90%);
$tertiary: hsl(0, 0%, 100%);

@import './_headers.scss';
@import './dest';

* {
  box-sizing: border-box;
  //   background-color: gray;
}

.home-body {
  background: url(/starter-code/assets/home/background-home-desktop.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dest-body {
  background: url(/starter-code/assets/destination/background-destination-desktop.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  padding-top: 210px;
  padding-left: 166px;
  width: 690px;
}

.nav-main{
  position: fixed;
  z-index: 1;
}

nav {
  display: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 96px;
  width: 1385px;
  background-color: transparent;
  float: right;

  .left-navbar {
    display: flex;
    position: absolute;
    left: 55;
    top: 40px;
  }
  .HRline-navbar {
    display: absolute;
    position: relative;
    left: 112px;
    top: 55px;
    border: 1px solid #97979788;
    width: 473px;
  }


  .blur-BG{
    background-color: rgba(155, 155, 155, 0.4);
    backdrop-filter: blur(13px);
    width: 830px;
    height: 90px;
    position: absolute;
    top: 20px;
    right: 0;
  }
  .right-navbar {
    display: flex;
    width: 830px;
    position: flex;
    right: 0;
    // position: absolute;
    // filter: blur(1px);

  }

  ul {
    display: flex;
    list-style: none;
    position: absolute;
    right: 170px;
    top: 40px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;

    li {
      margin-right: 1rem;
    }
    a {
      // font-family: 'Bellefair', serif;
      color: $tertiary;
      text-decoration: none;
      span {
        padding-left: 50px;
      }
      span:hover {
        // content: '';
    
        // width: 100%;
        // position: absolute;
        // left: -25px;
        // bottom: 1px;
    
        // border-width: 0 0 1px;
        // border-style: solid;
        
        text-decoration:underline;
        text-underline-offset: 31px;
        text-decoration-thickness: 4px;
        text-decoration-color: #979797;
    }
    .current{
      color: $tertiary;
      text-decoration:underline;
      text-underline-offset: 31px;
      text-decoration-thickness: 4px;
    }
    
    }
  }
}
.headline{
  margin-top: 175px;
}
.headline-dest{
  margin-top: 175px;
}

.maintitle{
  margin-top: 6px;
}

.body-text {
  width: 390px;
  margin-top: -60px;
  p {
    color: $secondary;
  }
}


//Explore button div + anchor tag
.explore-btn {
  display: flex;
  position: absolute;
  right: 275px;
  bottom: 340px;

  .round-btn {
    display: block;
    width: 274px;
    height: 274px;
    line-height: 80px;

    border-radius: 50%;
    color: $tertiary;
    text-align: center;
    text-decoration: none;
    background: $tertiary;
    box-shadow: 0 0 3px $tertiary;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    z-index: 999;
    padding-top: 70px;
    padding-bottom: 70px;
    // padding: 10px 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .round-btn:hover {
    background: $tertiary;
    color: transparent;
    width: 450px;
    height: 450px;
    border: 70px solid #979797d0;
    padding-top: 70px;
    padding-bottom: 70px;
    opacity: 0.9;
    
    // transition: letter-spacing 33s ease-out, opacity 33s ease-out;
  }
}

// .btn-h4:hover {
//     text-decoration: underline black //This colour is an example
// }
