h1 {
  font-family: 'Bellefair', serif;
  color: white;
  font-size: 150px;
  font-weight: 400;
  background: transparent;
}

h2 {
  font-family: 'Bellefair', serif;
  color: white;
  font-size: 100px;
  font-weight: 400;
  background: transparent;
}

h3 {
  font-family: 'Bellefair', serif;
  color: white;
  font-size: 56px;
  font-weight: 400;
  background: transparent;
}

h4 {
  font-family: 'Bellefair', serif;
  color: white;
  font-size: 32px;
  font-weight: 400;
  background: transparent;
}

h5 {
  font-family: 'Bellefair', serif;
  color: white;
  font-size: 28px;
  letter-spacing: 4.75px;
  font-weight: 400;
  background: transparent;
}

.btn-h4 {
  font-family: 'Bellefair', serif;
  color: #0c0e18;
  font-size: 32px;
  font-weight: 400;
  background: transparent;
}

p {
  line-height: 30px;
}

.dest-body {
  background: url(/starter-code/assets/destination/background-destination-desktop.jpg) no-repeat center center fixed;
  background-size: cover;
}

.nav-text-style-dest a {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  letter-spacing: 2.7px;
  text-decoration: none;
}

.nav-text-style-dest a span {
  color: white;
  margin-right: 23px;
}

.nav-text-style-dest a span:hover {
  text-decoration: underline;
  text-underline-offset: 31px;
  text-decoration-thickness: 4px;
  -webkit-text-decoration-color: #979797;
          text-decoration-color: #979797;
}

.nav-text-style-dest a .current {
  color: white;
  text-decoration: underline;
  text-underline-offset: 31px;
  text-decoration-thickness: 4px;
}

.current-location {
  text-transform: uppercase;
}

.headline-dest {
  position: fixed;
  z-index: 2;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  color: white;
  width: 450px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  margin-left: 165px;
}

.headline-dest b {
  color: #4f5159;
  font-weight: 900;
}

.body-text-dest {
  width: 390px;
  margin-top: -60px;
}

.body-text-dest p {
  color: #d2d8f9;
}

.subheadings-section .subheadings-left {
  display: inline-block;
  width: 190px;
  text-transform: uppercase;
}

.subheadings-section .subheadings-right {
  display: inline-block;
  text-transform: uppercase;
}

.subheading2 {
  padding-top: 25px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: 2.35px;
  color: #d2d8f9;
}

.subheading1 {
  padding-top: 20px;
  font-family: 'Bellefair', serif;
  font-size: 28px;
  color: white;
}

.des-main {
  position: absolute;
  /*or fixed*/
  right: 0px;
  top: 350px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.HRline-footer-dest {
  display: absolute;
  position: relative;
  left: 0;
  top: 0;
  border: 1px solid #97979788;
  width: 444px;
}

.moon-img {
  position: absolute;
  left: 0;
  top: 200px;
  width: 445px;
  height: 445px;
}

@media screen and (max-width: 960px) {
  .headline-dest {
    position: fixed;
    z-index: 2;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: white;
    width: 450px;
    letter-spacing: 4.75px;
    text-transform: uppercase;
    margin-left: 30px;
    top: -30px;
  }
  .headline-dest b {
    color: #4f5159;
    font-weight: 900;
  }
  .moon-img {
    position: absolute;
    left: 50%;
    top: 80px;
    width: 250px;
    height: 250px;
  }
  .des-main {
    position: absolute;
    /*or fixed*/
    left: 60px;
    top: 510px;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .current-location {
    text-transform: uppercase;
    margin-left: -40px;
    margin-top: 60px;
  }
  .body-text-dest {
    width: 540px;
    margin-top: -75px;
    margin-left: -130px;
  }
  .body-text-dest p {
    color: #d2d8f9;
    text-align: center;
  }
  .HRline-footer-dest {
    display: absolute;
    position: relative;
    left: -100px;
    top: 0;
    border: 1px solid #97979788;
    width: 444px;
  }
}

.crew-body {
  background: url(/starter-code/assets/crew/background-crew-desktop.jpg) no-repeat center center fixed;
  background-size: cover;
}

.crew-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 150px;
  bottom: 0;
}

.headline-crew {
  position: fixed;
  z-index: 2;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  color: white;
  width: 450px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  margin-left: 165px;
  margin-top: 180px;
}

.headline-crew b {
  color: #4f5159;
  font-weight: 900;
}

.title {
  color: rgba(206, 198, 198, 0.473);
  text-transform: uppercase;
  margin-top: 230px;
}

.crew-name {
  margin-top: -35px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.crew-text {
  width: 390px;
  margin-top: -60px;
}

.crew-text p {
  color: #d2d8f9;
}

.crew-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 175px;
  margin-top: 135px;
  position: absolute;
}

.crew-btn .dot {
  height: 15px;
  width: 15px;
  background-color: #979797;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none !important;
  margin-right: 19px;
}

.crew-btn .set {
  background: white;
}

.crew-btn .dot:hover {
  background: white;
}

@media screen and (max-width: 960px) {
  .headline-crew {
    position: fixed;
    z-index: 2;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: white;
    width: 450px;
    letter-spacing: 4.75px;
    text-transform: uppercase;
    margin-left: 30px;
    top: -30px;
  }
  .headline-crew b {
    color: #4f5159;
    font-weight: 900;
  }
  .title {
    color: rgba(206, 198, 198, 0.473);
    text-transform: uppercase;
    margin-top: 0;
    font-size: 32px;
    text-align: center;
    margin-left: -130px;
  }
  .crew-name {
    margin-top: -40px;
    padding-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-left: -130px;
  }
  .crew-text {
    width: 560px;
    top: 0;
  }
  .crew-text p {
    color: #d2d8f9;
    text-align: center;
  }
  .crew-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 45%;
    margin-top: 15px;
    position: absolute;
  }
  .crew-btn .dot {
    height: 15px;
    width: 15px;
    background-color: #979797;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none !important;
    margin-right: 19px;
  }
  .crew-btn .set {
    background: white;
  }
  .crew-btn .dot:hover {
    background: white;
  }
  .crew-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 25%;
    bottom: 0;
  }
  .crew-image img {
    width: 320px;
  }
}

.tech-body {
  background: url(/starter-code/assets/technology/background-technology-desktop.jpg) no-repeat center center fixed;
  background-size: cover;
}

.tablet-img {
  visibility: hidden;
}

.tech-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 55px;
  bottom: 32px;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
}

.tech-btn a {
  color: white;
  font-size: 32px;
  text-align: center;
  padding-top: 22px;
  font-family: 'Bellefair', serif;
}

.tech-btn .dot {
  height: 80px;
  width: 80px;
  background-color: transparent;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.404);
  border-width: 1px;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none !important;
  margin-top: 19px;
}

.tech-btn .set {
  background: white;
  color: black;
}

.tech-btn .set:hover {
  pointer-events: none;
}

.tech-btn .dot:hover {
  border-width: 1.5px;
  border-color: white;
}

.headline-tech {
  position: fixed;
  z-index: 2;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  color: white;
  width: 450px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  margin-left: 165px;
  margin-top: 180px;
}

.headline-tech b {
  color: #4f5159;
  font-weight: 900;
}

.tech-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -5px;
  bottom: 150px;
}

.tech-main {
  left: 123px;
  bottom: 260px;
  position: absolute;
  padding-left: 210px;
}

.tech-main .tech-text {
  width: 368px;
  margin-top: -60px;
}

.tech-main .tech-text p {
  color: #d2d8f9;
}

.pretitle {
  font-size: 16px;
  color: #d2d8f9;
  letter-spacing: 2.7px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.tech-name {
  margin-top: -35px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  .tech-body {
    background: url(/starter-code/assets/technology/background-technology-tablet.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  .headline-tech {
    position: fixed;
    z-index: 2;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: white;
    width: 450px;
    letter-spacing: 4.75px;
    text-transform: uppercase;
    margin-left: 30px;
    top: -30px;
  }
  .headline-tech b {
    color: #4f5159;
    font-weight: 900;
  }
  .tech-image {
    visibility: hidden;
  }
  .tablet-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 225px;
    width: 100%;
    visibility: visible;
    right: 0;
    left: 5px;
  }
  .tech-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 250px;
    bottom: -90px;
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    float: left;
  }
  .tech-btn a {
    color: white;
    font-size: 32px;
    text-align: center;
    padding-top: 22px;
    margin-left: 25px;
    font-family: 'Bellefair', serif;
  }
  .tech-btn .dot {
    height: 80px;
    width: 80px;
    background-color: transparent;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.404);
    border-width: 1px;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none !important;
    margin-top: 19px;
  }
  .tech-btn .set {
    background: white;
    color: black;
  }
  .tech-btn .set:hover {
    pointer-events: none;
  }
  .tech-btn .dot:hover {
    border-width: 1.5px;
    border-color: white;
  }
  .tech-main {
    width: 680px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 43%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .tech-main .pretitle {
    font-size: 15px;
    color: #d2d8f9;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin-top: 115px;
    margin-left: -35px;
  }
  .tech-main .tech-name {
    margin-top: -35px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 36px;
    margin-left: -45px;
  }
  .tech-main .tech-text {
    width: 410px;
    margin-top: -50px;
    margin-left: 10px;
  }
  .tech-main .tech-text p {
    color: #d2d8f9;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-body {
  background: url(/starter-code/assets/home/background-home-desktop.jpg) no-repeat center center fixed;
  background-size: cover;
}

main {
  padding-top: 210px;
  padding-left: 166px;
  width: 690px;
}

.nav-main {
  position: fixed;
  z-index: 1;
}

nav {
  display: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  height: 96px;
  width: 1385px;
  background-color: transparent;
  float: right;
}

nav .left-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 55;
  top: 40px;
}

nav .HRline-navbar {
  display: absolute;
  position: relative;
  left: 112px;
  top: 55px;
  border: 1px solid #97979788;
  width: 473px;
}

nav .blur-BG {
  background-color: rgba(155, 155, 155, 0.4);
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
  width: 830px;
  height: 90px;
  position: absolute;
  top: 20px;
  right: 0;
}

nav .right-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 830px;
  position: flex;
  right: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: absolute;
  right: 170px;
  top: 40px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
}

nav ul li {
  margin-right: 1rem;
}

nav ul a {
  color: white;
  text-decoration: none;
}

nav ul a span {
  padding-left: 50px;
}

nav ul a span:hover {
  text-decoration: underline;
  text-underline-offset: 31px;
  text-decoration-thickness: 4px;
  -webkit-text-decoration-color: #979797;
          text-decoration-color: #979797;
}

nav ul a .current {
  color: white;
  text-decoration: underline;
  text-underline-offset: 31px;
  text-decoration-thickness: 4px;
}

.headline {
  margin-top: 175px;
}

.headline-dest {
  margin-top: 175px;
}

.maintitle {
  margin-top: 6px;
}

.body-text {
  width: 390px;
  margin-top: -60px;
}

.body-text p {
  color: #d2d8f9;
}

.explore-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 275px;
  bottom: 340px;
}

.explore-btn .round-btn {
  display: block;
  width: 274px;
  height: 274px;
  line-height: 80px;
  border-radius: 50%;
  color: white;
  text-align: center;
  text-decoration: none;
  background: white;
  -webkit-box-shadow: 0 0 3px white;
          box-shadow: 0 0 3px white;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  z-index: 999;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.explore-btn .round-btn:hover {
  background: white;
  color: transparent;
  width: 450px;
  height: 450px;
  border: 70px solid #979797d0;
  padding-top: 70px;
  padding-bottom: 70px;
  opacity: 0.9;
}

.attribution {
  color: #d2d8f9;
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.attribution a {
  color: white;
}

@media screen and (max-width: 960px) {
  nav {
    display: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem;
    height: 96px;
    width: 1385px;
    background-color: transparent;
    float: right;
  }
  nav .left-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 35px;
    top: 40px;
  }
  nav .HRline-navbar {
    display: none;
    visibility: hidden;
  }
  nav .blur-BG {
    background-color: rgba(155, 155, 155, 0.4);
    -webkit-backdrop-filter: blur(13px);
            backdrop-filter: blur(13px);
    width: 600px;
    height: 90px;
    position: absolute;
    top: 20px;
    right: 0;
  }
  nav .right-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 830px;
    position: flex;
    right: 0;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    position: absolute;
    right: 40px;
    top: 40px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  nav ul li {
    margin-right: 1rem;
  }
  nav ul a {
    color: white;
    text-decoration: none;
  }
  nav ul a b {
    display: none;
    visibility: hidden;
  }
  nav ul a span {
    padding-left: 50px;
  }
  nav ul a span:hover {
    text-decoration: underline;
    text-underline-offset: 31px;
    text-decoration-thickness: 4px;
    -webkit-text-decoration-color: #979797;
            text-decoration-color: #979797;
  }
  nav ul a .current {
    color: white;
    text-decoration: underline;
    text-underline-offset: 31px;
    text-decoration-thickness: 4px;
  }
  .home-body {
    background: url(/starter-code/assets/home/background-home-tablet.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  main {
    width: 100%;
    display: relative;
  }
  main .headline {
    display: float;
    margin-left: -100px;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    font-size: 18px;
  }
  main .maintitle {
    margin-left: -200px;
    text-align: center;
  }
  main .body-text {
    border-radius: 1em;
    padding: 1em;
    padding-top: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  main .body-text p {
    text-align: center;
    margin: 0;
  }
  .explore-btn {
    bottom: 180px;
    right: 50%;
    left: 50%;
  }
  .explore-btn .round-btn {
    display: block;
    width: 274px;
    height: 274px;
    line-height: 80px;
    border-radius: 50%;
    color: white;
    text-align: center;
    text-decoration: none;
    background: white;
    -webkit-box-shadow: 0 0 3px white;
            box-shadow: 0 0 3px white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    z-index: 999;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .explore-btn .round-btn:hover {
    background: white;
    color: transparent;
    width: 274px;
    height: 274px;
    border: 0px solid transparent;
    line-height: 80px;
    opacity: 0.9;
  }
}
/*# sourceMappingURL=style.css.map */